/node_modules
/dist
/.env
/.idea
/.vscode
*.log
*.class
*.jar
*.war
*.iml
/out
/target
/.DS_Store
/.settings      
/.project
/.classpath
/.factorypath
/.mvn
/.settings
/.externalToolBuilders
/.loadpath
/.recommenders
/.apt_generated
/.checkstyle
/.settings
/.metadata
/.gradle
/build
/.settings/
/.history
/.cache
/.sass-cache
/.grunt
/.bower-cache
/.nyc_output
/.parcel-cache
/.firebase
/.expo
/.serverless
/.vercel
/.turbo
/.idea/
/.vscode/
/.history/
.cache/
.sass-cache/
.grunt/
.bower-cache/
.nyc_output/
.parcel-cache/
.firebase/
.expo/
.serverless/